.box {
  height: 500px;
  width: 300px;

  margin-top: 10%;

  position: relative;
}:hover {
  .carteProjet {
    filter: blur(1px);
    z-index: -1;
  }
  
  .containerButton {
    z-index: 0;
  }
}

.carteProjet {
  border: solid #0FC9F2 4px;
  border-radius: 20px;

  background-color: #D9D9D9;

  height: 500px;
  width: 300px;

  .imgProjet {
    border-radius: 20px;
    height: 60%;
    width: 100%;
  }

  p {
    font-size: 30px;
    text-align: center;
  }

  .containerLogo {
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      height: 40px;
      width: 40px;
      padding: 2%;
    }
  }
}

.containerButton {
  height: 500px;
  width: 300px;

  margin: 2%;

  position: absolute;

  top: 0%;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    border: solid #0FC9F2 4px;
    border-radius: 10px;
    margin: 5%;
    height: 10%;
    width: 60%;
  }
}