<div class="box">

  <div class="carteProjet">
    <img class="imgProjet" src="assets/images/imgProjet/projetCalculatriceAngular.png" alt="">
    <p>NameProjet</p>
    <div class="containerLogo">
      @for (item of listeLogoProjetTemporaire; track $index) {
        <img class="logo" src="assets/images/{{item}}.png" alt="assets/images/{{item}}">
      }
    </div>
  </div>

  <div class="containerButton">
    <button>tata</button>
    <button>tata</button>
    <button>tata</button>
  </div>
  
</div>
