<div class="box">

  <div class="carteProjet">
    <img class="imgProjet" src="{{data?.image}}" alt="{{data?.image}}">
    <p>{{data?.titre}}</p>
    <div class="containerLogo">
      @for (item of data?.logos; track $index) {
        <img class="logo" src="assets/images/{{item}}.png" alt="assets/images/{{item}}">
      }
    </div>
  </div>

  <div class="containerButton">
    <a class="btn">{{data?.liens?.[1]?.label}}</a>
    <a class="btn">tata</a>
    <a class="btn">tata</a>
  </div>
  
</div>
