<div class="container">
  <div class="competenceFrontend">
    @for (item of listComposantsFrontend; track $index) {
    <app-logo-techno techno="{{item}}"/>
    }
  </div>
  <div class="competenceBackend">
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
  </div>
  <div class="competenceOutils">
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
  </div>
</div>