<div class="container">
  <div class="competenceFrontend">
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
  </div>
  <div class="competenceBackend">
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
  </div>
  <div class="competenceDevOps">
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
    <app-logo-techno techno="linkedin"/>
  </div>
</div>