<div class="wrapper">
  <div class="container">
    <div class="competenceFrontend bulle">
      @for (item of listComposantsFrontend; track $index) {
        <img src="assets/images/{{item}}.png" alt="assets/images/{{item}}">
      }
    </div>
    <div class="competenceBackend bulle">
      @for (item of listComposantsBackend; track $index) {
        <img src="assets/images/{{item}}.png" alt="assets/images/{{item}}">
      }
    </div>
    <div class="competenceOutils bulle">
      @for (item of listComposantsOutils; track $index) {
        <img src="assets/images/{{item}}.png" alt="assets/images/{{item}}">
      }
    </div>
  </div>
</div>