<header>
  <h1>portfolio</h1>
  <button></button>
  <button></button>
</header>
<div class="pageExperiencePhoto">
  <div class="ExperienceCard">
    <div class="switch">
      <div>
        <button class="triangle-btn left" onclick="alert('left')"></button>
      </div>
      <h2>Experience</h2>
      <div>
        <button class="triangle-btn right" onclick="alert('right')"></button>
      </div>
    </div>
    <div class="conteinerCard">
      <div class="card">
        <p style="color: #72F2F2; font-size: 20px;">Simplon Grenoble</p>
        <h3 style="font-size: 30px;">Projet chef d'oeuvre</h3>
        <p style="font-size: 15px;">mai 2023 - avril 2024</p>
        <p style="font-size: 20px; margin: 8% 2% 8% 2%;">Développemnt d'une application mobile en équipe (3 persones)</p>
        <p style="margin-bottom: 0; font-size: 18px;">Mission</p>
        <ul>
          <li>wireframe/maquettage</li>
          <li>Gestion de projet</li>
          <li>Vesoin utilisateur</li>
          <li>Gantt</li>
          <li>Dévelopement</li>
          <li>UX/UI</li>
          <li>Git-Flow</li>
        </ul>
      </div>
      <div class="card">
        <p style="color: #72F2F2; font-size: 20px;">Simplon Grenoble</p>
        <h3 style="font-size: 30px;">Projet chef d'oeuvre</h3>
        <p style="font-size: 15px;">mai 2023 - avril 2024</p>
        <p style="font-size: 20px; margin: 8% 2% 8% 2%;">Développemnt d'une application mobile en équipe (3 persones)</p>
        <p style="margin-bottom: 0; font-size: 18px;">Mission</p>
        <ul>
          <li>wireframe/maquettage</li>
          <li>Gestion de projet</li>
          <li>Vesoin utilisateur</li>
          <li>Gantt</li>
          <li>Dévelopement</li>
          <li>UX/UI</li>
          <li>Git-Flow</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="photoContact">
    <div class="photoCard">
      <div class="containerPhoto">
        <img src="assets/images/IMG_8466.jpg" alt="photoProfil">
      </div>
      <p>Contact</p>
        <ul>
          <li>rambaudaymeric&#64;gmail.com</li>
          <li>07 86 13 83 13</li>
          <li>23 ans</li>
          <li>Grenoble</li>
        </ul>
    </div>
  </div>
</div>

<div class="transition"></div>

<app-logo-techno techno="angular"></app-logo-techno>
<app-logo-techno techno="css"></app-logo-techno>
<app-logo-techno techno="docker"></app-logo-techno>
<app-logo-techno techno="figma"></app-logo-techno>
<app-logo-techno techno="git"></app-logo-techno>
<app-logo-techno techno="github"></app-logo-techno>
<app-logo-techno techno="gitlab"></app-logo-techno>
<app-logo-techno techno="html"></app-logo-techno>
<app-logo-techno techno="fsfsefdfe"></app-logo-techno>
<app-logo-techno techno="java"></app-logo-techno>
<app-logo-techno techno="js"></app-logo-techno>
<app-logo-techno techno="nodejs"></app-logo-techno>
<app-logo-techno techno="react"></app-logo-techno>
<app-logo-techno techno="sql"></app-logo-techno>



