header {
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: center;

  h1 {
    color: white;
    margin: 0.2em;
  }

  button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0.5em;
  }
}

.pageExperiencePhoto {
  border: solid red 2px;
  height: 800px;

  display: flex;

  .ExperiencePhoto {
    border: solid orange 2px;
    width: 100%;
    
    .switch {
      display: flex;
      align-items: center;

      border: solid green 2px;
      margin: 2%;
      height: 20%;

      h2 {
        font-size: 50px;
      }

      .triangle-btn {
        width: 0;
        height: 0;
        background: transparent;
        border: none;
        cursor: pointer;
      }
      
      .left {
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 30px solid black;
      }

      .right {
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 30px solid black;
      }
    
      div {
        margin: 2%;
      }

    }
    
    .conteinerCard {
      border: solid yellow 2px;
      margin: 2%;
      height: 60%;

      display: flex;
      justify-content: space-around;

      .card{
        margin: 2%;

        height: 100%;
        width: 30%;
        box-shadow: #6d6d6d 20px 20px 1em;


        background-color: #D9D9D9;
        border: solid #0FC9F2 2px;
        border-radius: 10px;

        p, h3 {
          text-align: start;
          margin: 2%;
        }

        ul {
          margin: 0;
          
          li {
            margin-top: 2%;
          }
        }
      }
    }
  }

  .photoContact {
    border: solid black 2px;
    width: 40%;
  }
}

.transition {
  background-color: blue;
  height: 50px;
}

