.fullscreenHighPortfolioName {
  background: #0CB1F2;
  
  text-align: center;
  
  width: 100vw;
  height: 100vh;
  
  color: #FFFFFF;
  
  position: relative;
  z-index: -2;
  overflow-x: hidden;

  h1 {
    margin: 4%;
    font-size: 160px;
  }

  h2 {
    font-size: 100px;
  }

  .cercleBlue {
    border: solid #0FC9F2 200px;
    border-radius: 50%;

    position: absolute;

    padding: 0;
    padding: 0;

    top: -80%;
    right: -30%;
    z-index: -1;

    height: 1200px;
    width: 1200px;
  }
  
  .twoButton{

    a {
      margin: 0% 10% 0% 10%;
      text-decoration: none;
      color: inherit;
      border: none;
      outline: none;
    }
  }
}

.fullscreenPhotoProfilCompétence {
  height: 1500px;

  .headerBlackPortfolio {
    background-color: black;

    border-bottom: solid #0FC9F2 2px;

    padding: 1%;

    h2 {
      margin: 0;
      color: white;
      font-size: 50px;
    }

    .container {
      // border: solid red 2px;
      display: flex;
      justify-content: space-between;

      .containerRight {
        // border: solid blue 2px;

        display: flex;

        color: white;
        width: 40%;

        a {
          font-size: 20px;
          margin: 0% 5% 0% 0%;

          display: flex;
          place-items: center;

          text-decoration: none;
          color: inherit;
          border: none;
          outline: none;
        }

        .buttonDownloadCV { //le bouton n'est pas aligné avec le texte
          // border: solid yellow 2px;

          padding: 10px;
          height: 30px;

          display: flex;
          align-items: center;

          border-radius: 20px;

          color: #FFFFFF;
          font-size: 20px;

          background-color: #0FC9F2;

          p {
            // border: solid red 2px;
            margin-right: 10px;
          }

          img {
            // border: solid red 2px;

            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }

  .containerTextePhotoProfil {
    height: 600px;

    display: flex;

    .containerTexte {
      border: solid #0FC9F2 5px;
      border-radius: 20px;
      margin: 2%;

      position: relative;

      width: 50%;
      height: 80%;

      background-color: #D9D9D9;

      h2, p {
        margin: 2%;
      }

      .container {

        margin: 1%;

        position: absolute;
        top: 80%;

        display: flex;
      }
    }

    .photoProfil {
      border: solid #0FC9F2 5px;
      border-radius: 50%;

      background-image: url("/assets/images/photoProfil.jpg");
      background-size: 100%;
      background-position: center;

      margin: 2% 2% 2% 15%;
      height: 500px;
      width: 500px;
    }
  }

  // .containerCompetences {}
}