.page{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.divBody{
  margin: 5%;

  width: 50%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  .test {
    border: solid blue 2px;

    height: 400px;
    width: 400px;
    margin: 5%;

  }
}