header {
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: center;

  h1 {
    color: white;
    margin: 0.2em;
  }

  button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0.5em;
  }
}

.pageExperiencePhoto {
  border: solid red 2px;
  height: 800px;

  display: flex;

  .ExperiencePhoto {
    border: solid orange 2px;
    margin: 2%;
    width: 100%;
    
    .switch {
      border: solid green 2px;

      height: 20%;
    }
    
    .card {
      border: solid yellow 2px;
      height: 80%;
    }
  }

  .photoContact {
    border: solid black 2px;
    width: 40%;
  }
}

.transition {
  background-color: blue;
  height: 50px;
}

