.fullscreenHighPortfolioName {
  background: #0CB1F2;
  
  text-align: center;
  
  width: 100vw;
  height: 100vh;
  
  color: #FFFFFF;
  
  position: relative;
  z-index: -2;
  overflow-x: hidden;

  h1 {
    margin: 4%;
    font-size: 160px;
  }

  h2 {
    font-size: 100px;
  }

  .cercleBlue {
    border: solid #0FC9F2 200px;
    border-radius: 50%;

    position: absolute;

    padding: 0;
    padding: 0;

    top: -80%;
    right: -30%;
    z-index: -1;

    height: 1200px;
    width: 1200px;
  }
  
  .twoButton{

    a {
      margin: 0% 10% 0% 10%;
      text-decoration: none;
      color: inherit;
      border: none;
      outline: none;
    }
  }
}

.fullscreenPhotoProfilCompétence {
  height: 1500px;
  border: solid red 2px;

  .headerBlackPortfolio {
    background-color: black;
    position: sticky;

    padding: 1%;
    text-align: center;
    
    h2 {
      margin: 0;
      color: white;
      font-size: 50px;
    }
  }

  .containerTextePhotoProfil {
    border: solid green 2px;
    height: 600px;
  }

  .containerCompetences {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid yellow 2px;

    h2 {
      margin: 2% 5% 2% 5%;
    }
  
    .barre {
      height: 5px;
      width: 40%;
    }

  }
}