div {
  border: solid #0FC9F2 2px;
  border-radius: 50%;

  background-color: #D9D9D9;

  padding: 5px;
  margin: 10px;

  height: 50px;
  width: 50px;

}

.techno-logo {
  width: 50px;
  height: 50px;
}