body {
  margin: 0;
  padding: 0;

  background-color: #f7f6f6;

  border: solid red 1px;

  height: 2000px;
}

html {
  scroll-behavior: smooth;
}

* {font-family: "Inter";}

// * {border: solid 1px;}